body{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 0 75vh;
    grid-template-areas: 
    "header"
    "main"
    "aside"
    "footer";
}
a{
    text-decoration: none;
    color: black;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10%;
}
nav ul{
    font-weight: 550;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    letter-spacing: 2px;
    gap: 30px;
}
nav ul li{
    list-style: none;
}
header{
    position: fixed;
    top: 0;
    width: 80%;
    left: 10%;
    border-radius: 1em;
    font-weight: bolder;
    font-size: 35px;
}
main{
    background-image: url(display.jpeg);
    width: 100%;
}
.welcome{
    margin-top: 200px;
    font-size: 100px;
    font-weight: bolder;
    text-align: center;
    justify-content: center;
    color: white;
}
.motto{
    font-size: 50px;
    font-weight: 550;
    text-align: center;
    margin-right: 90px;
    color: white;
}
