body{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
    "header"
    "main"
    "aside"
    "footer" ;
    background: linear-gradient(rgba(0, 0, 150, 0.5), rgba(0,0,50, 0.5)), url(background.jpeg);
    background-size: cover;
    background-position: center;
}
.index-body{
    grid-template-rows: 0 70vh;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10%;
}
nav ul{
    font-weight: 550;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    letter-spacing: 2px;
    gap: 30px;
}
nav ul li{
    list-style: none;
}
.nav li:hover {
    display: block;
    background: linear-gradient(rgba(95, 95, 221, 0.5), rgba(24, 24, 228, 0.5));
    border-radius: 1em;
    padding: 2%;
}
.on, .off{
    display: none;
}
header{
    position: fixed;
    top: 0;
    width: 80%;
    left: 10%;
    border-radius: 1em;
    font-weight: bolder;
    font-size: 35px;
    box-shadow: 0px 5px 15px 0px rgba(28, 0, 181, 0.3);
}
.index-main{
    background: linear-gradient(rgba(97, 226, 147, 0.5), rgba(3, 109, 100, 0.5)), url(display.jpeg);
    width: 100%;
    box-shadow: 0px 5px 15px 0px rgba(28, 0, 181, 0.3);
}
.welcome{
    margin-top: 200px;
    font-size: 100px;
    font-weight: bolder;
    text-align: center;
    justify-content: center;
    color: white;
    letter-spacing: 2px;
}
.motto{
    font-size: 50px;
    font-weight: 550;
    text-align: center;
    color: white;
    justify-content: center;
}
aside img{
    width: 500px;
    height: 640px;
    border-radius: 1em;
    box-shadow: 0px 5px 15px 0px rgba(28, 0, 181, 0.3);
}
.top{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-right: 50px;
}
.top p{
    font-size: 50px;
    width: 60%;
    margin-top: 13%;
    margin-left: 50px;
    color: white;
}
.bottom{
    justify-content: center;
    margin-top: 15px;
    margin-left: 50px;
    margin-bottom: 15px;
}
.bottom p{
    font-size: 50px;
    width: 50%;
    margin-top: 10%;
    color: white;
    margin-right: 50px;
    float: inline-end;
}
.portfolio-main{
    display: flex;
    align-items: center;
}
footer{
    text-align: center;
    justify-content: center;
    font-weight: bold;
    height: 90px;
}
.footer-icon{
    letter-spacing: normal;
    font-size: 30px;
}
.privacy{
    display: flex;
    justify-content: end;
    margin-right: 50px;
    position: relative;
    top: 40px;
}
.portfolio-body, .blog-body{
    grid-template-rows: auto;
}
.portfolio-csy1018, .portfolio-csy1019
{   
    background:  linear-gradient(rgba(97, 226, 147, 0.5), rgba(3, 109, 100, 0.5)), url(background.jpeg);
    width: 40%;
    height: 860px;
    border-radius: 1em;
    bottom: 200px;
    margin-left: 3.32%;
    margin-right: 3.32%;
    margin-bottom: 40px;
    margin-top: 100px;
    padding-top: 40px;
    padding-left: 8px;
    display: inline-block;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    box-shadow: 0px 5px 15px 0px rgba(21, 219, 81, 0.849);
}
.thumbnail-placeholder{
    width: 90%;
    margin-left: 4.5%;
    margin-bottom: 5%;
    height: 260px;
    border-radius: 1em;
    background-image: url(pholder.jpeg);
}
.profile-placeholder{
    background-color: rgb(160, 160, 155);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-image: url(dpportfolio.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 25%;
    margin-top: 15px;
}
.text-placeholder{
    display: inline;
    margin-left: 25%;
}
.contact-body{
    grid-template-rows: auto;
}  
section h2{
    font-size: 40px;
    margin-bottom: 20px;
    color: black;
} 
.contact-head{
    text-align: center;
    justify-content: center;
}
.contacts{
    display: flex;
}
.contact-left{
    margin-top: 70px;
    flex-basis: 60%;
    padding: 40px 60px;
}
.contact-right{
    flex-basis: 40%;
    padding: 40px;
    background:  linear-gradient(rgba(97, 226, 147, 0.5), rgba(3, 109, 100, 0.5)), url(background.jpeg);
    height: 300px;
    margin-top: 13%;
    margin-right: 5%;
    border-radius: 0.8em;
    box-shadow: 0px 5px 15px 0px rgba(21, 219, 81, 0.849);
    display: block;
}
.contacts-details{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.contacts-details .myinput{
    flex-basis: 40%;
    margin-right: 4%;
}
input{
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: white;
    border-bottom: 1px solid black;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 30px;
    transition: .4s solid ease-in-out;
}
.message{
    width: 80%;
    margin-left: 10%;
    border-bottom: 1px solid white;
    border: none;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}
label{
    margin-bottom: 6px;
}
.submit{
    margin-left: 42%;
    background: blue;
    border-color: transparent;
    color: black;
    border-radius: 1em;
    width: 100px;
    height: 35px;
    font-size: 20px;
    font-weight: bolder;
    outline: none;
    box-shadow: 0px 5px 15px 0px rgba(6, 128, 228, 0.3);
}
.mycontact{
    display: block;
}
.contact-right a{
    font-size: 80px;
    letter-spacing: 10px;
    text-decoration: none;
    color: black;
}
.contact-icon{
    margin-top: 12%;
    margin-left: 11%;
    text-align: center;
    justify-content: space-between;
}
.blog-main{
    display: flex;
    align-items: center;
}
.blog-csy1018 h1, .blog-csy1019 h1, .blog-csy1020 h1{
    color: black;
    font-size: 40px;
    font-weight: bolder;
}
.blog-csy1018 h2, .blog-csy1019 h2, .blog-csy1020 h2{
    color: black;
    font-size: 30px;
    font-weight: lighter;
}
.blog-csy1018, .blog-csy1019, .blog-csy1020
{
    background:  linear-gradient(rgba(97, 226, 147, 0.5), rgba(3, 109, 100, 0.5)), url(background.jpeg);
    color: white;
    width: 30.1%;
    height: 600px;
    border-radius: 1em;
    bottom: 200px;
    margin-top: 100px;
    margin-left: 2%;
    margin-bottom: 40px;
    padding-top: 40px;
    padding-left: 8px;
    display: inline-block;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    box-shadow: 0px 5px 15px 0px rgba(28, 0, 181, 0.3);
}
.portfolio-csy1018:hover, .portfolio-csy1019:hover {
    border-radius: 5px;
    border: 5px solid white;
}
.firstyear-main, .secondyear-main, .thirdyear-main{
    margin-top: 100px;
    margin-bottom: 100px;
    width: 90%;
    position: relative;
    left: 5%;
    font-size: 30px;
    color: black;
    border-radius: 8px;
    /* background:  linear-gradient(rgba(97, 226, 147, 0.5), rgba(3, 109, 100, 0.5)), url(background.jpeg); */
}
.firstyear-content, .secondyear-content, .thirdyear-content{
    background:  linear-gradient(rgba(97, 226, 147, 0.5), rgba(3, 109, 100, 0.5)), url(background.jpeg);
    border-radius: 1em;
    padding-top: 50px;
    padding-left: 1em;
    height: 100%;
    
}
.intro1{
    margin-top: 60px;
    margin-right: 10%;
    width: 100%;
    font-size: 30px;
}
.sr{
    margin-top: 20px;
    margin-left: 5%;
    width: 450px;
    height: 280px;
    float: inline-start;
}
.intro2, .intro4{
    margin-left: 5%;
    width: 90%;
    font-size: 30px;
}
.sr2, .sr5{
    margin-top: 50px;
    margin-left: 4%;
    margin-bottom: 50px;
    width: 45%;
    height: 350px;
}
.sr4{
    margin-right: 5%;
    margin-top: 95px;
    width: 450px;
    height: 280px;
    float: inline-end;    
}
.intro3{
    margin-top: 20px;
    width: 100%;
    font-size: 30px;
    margin-left: 4%;
}
section h2{
    text-align: center;
    justify-content: center;   
}
.split1 h2{
    margin-top: 110px;
}
.split2 h2{
    margin-top: 100px;
}
.split4 h2{
    margin-top: 20px;
}
.sr7{
    margin-top: 20px;
    margin-left: 5%;
    width: 90%;
    height: 90%;
}
.intro5, .intro6{
    font-size: 30px;
    margin-left: 4%;
    margin-bottom: 50px;
}
span{
    font-weight: bolder;
    
}
